/ModelAction.class
/ModelAddAction.class
/ModelChangeAttributeAction.class
/ModelDeleteHandleAction.class
/ModelEditTextAction.class
/ModelInsertHandleAction.class
/ModelMoveHandleAction.class
/ModelRemoveAction.class
/ModelReorderAction.class
/ModelTranslateAction.class
/Strings.class
