/PluginStarter.class
/Request.class
/LoadPlugin.class
/PluginFile.class
/Strings.class
/JsonDownloader.class
/InstallationPath.class
/InstallationFolder.class
/Json.class
/Plugin.class
/PlugIn.class
/AppPreferences$LocalePreference.class
/AppPreferences$MyListener.class
/AppPreferences.class
/PluginPreferences.class
/PathManager.class
/PluginUtils.class
/Vector.class
/PluginLoader.class
/PluginFolder.class
