/Strings.class
/TTL.class
/AbstractTtlGate.class
/ttl7400.class
/ttl7404.class
/ttl7402.class
/ttl7432.class
/ttl7408.class
/ttl7486.class
/ttl747266.class
/Ttl7486.class
/Ttl747266.class
/Ttl7432.class
/Ttl7408.class
/Ttl7404.class
/Ttl7402.class
/Ttl7400.class
/Drawgates.class
/Ttl7447.class
/Ttl74283.class
/Ttl7485.class
/Ttl74LS165.class
/Ttl74165.class
/prova.class
/Buffer.class
/Ttl74125.class
